.navbar {
	background-color:#bdbda8;
}

#JogoVelha {
	background-color:#99ccff;
	
   }
 #jogodois {
	 margin-bottom: 20px
	 back
	 
 }  
.margin{
	margin-bottom:20px;
	
}

.area{
	width:80px;
	height:80px;
	border: 2px solid #000;
	float: left;
		
}

.tabuleiro{
	width:252px;
	height:252px;
	margin:auto;
	margin-top:40px;
	
	
}

#mostrador {
	
	width:252px;
	margin:auto;
	margin-top:40px;
	
	
}

.foto {
	width:20px;
	border:0px;
	

	
}


	
}